.contentContainer {
  background-color: #fafafa;

}

.content {
  width: 1000px;
  min-height: 1000px;
  padding-top: 35px;
  margin: auto;
  background-color: #ffffff;
}

.navBlock {
  height: 50px;
  width: 724px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  margin-left: 120px;
}

.activityNav, .activityNavSelected {
  width: 110px;
  height: 100%;
  font-family: PingFangSC;
  font-size: 20px;
  color: #4a4a4a;
  cursor: pointer;
  text-align: center;
}

.newsNav, .newsNavSelected {
  width: 110px;
  height: 100%;
  font-family: PingFangSC;
  font-size: 20px;
  color: #4a4a4a;
  margin-left: 67px;
  cursor: pointer;
  text-align: center;
}

.activityNavSelected, .newsNavSelected {
  color: #e86145;
  cursor: default;
  border-bottom: 3px solid #e86145;
}

.activityNavBlock {
  height: 50px;
}

.activityLine {
  height: 2px;
  width: 110px;
  background-color: red;
}

.horizontalLine {
  width: 724px;
  height: 1px;
  border: none;
  border-bottom: 1px solid #979797;
  opacity: 0.5;
}

.inputBlock {
  display: flex;
  margin-top: 15px;
}

.templateSelectBlock {
  width: 600px;
  display: flex;
  margin-top: 5px;
}

.formContainer {
  width: 702px;
  margin: auto;
}

.starChar {
  color: #ff0000;
  margin-right: 3px;
}

.starCharHidden {
  visibility: hidden;
  margin-right: 3px;
}

.newsNameInput, .newsDescriptionInput {
  width: 600px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 13px;
  font-family: PingFangSC;
  font-size: 16px;
  color: #4a4a4a;
  border: solid 1px #9b9b9b;
  resize: none;
}

.newsDescriptionInput {
  height: 100px;
}

.newsNameInput:focus, .newsDescriptionInput:focus {
  border: solid 1px #6397d8;
  outline: 0;
}

*:focus.error {
  border: solid 1px #e35b5a;
  outline: 0;
}

.timeBlock {
  width: 600px;
  display: flex;
  align-items: center;
}

.newsTimeDay > input, .newsTimeHour > input {
  outline: none;
  font-family: PingFangSC;
  font-size: 16px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #9b9b9b;
  padding-left: 13px;
  box-sizing: border-box;
  color: #4a4a4a;
}

input.error, textarea.error {
  border: 1px solid #f00;
}

.newsTimeHour > input {
  width: 130px;
}

.newsTimeDay > input {
  width: 140px;
}

.newsTimeHour {
  width: 130px;
  font-size: 10px;
  margin-left: 15px;
}

.inputNameContainer {
  min-width: 95px;
  margin-right: 7px;
  margin-top: 8px;
}

.newsSubmit {
  display: flex;
  height: 110px;
  margin-top: 37px;
  margin-left: 250px;
}

.publish {
  text-align: center;
  line-height: 40px;
  width: 110px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #eb826c;
  color: #ffffff;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.cancelPublish {
  text-align: center;
  line-height: 40px;
  width: 110px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: rgba(155, 154, 155, 0.33);
  color: #ffffff;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.timeDivider {
  width: 38px;
  font-size: 16px;
  font-family: PingFangSC;
  text-align: center;
  box-sizing: border-box;
}

.templates {
  min-width: 490px;
  display: flex;
  flex-wrap: wrap;
}

.templateItem, .templateItemFirst {
  width: 149px;
  height: 61px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.templateItem {
  margin-left: 15px;
}

.templatesImg {
  width: 147px;
  height: 59px;
  image-rendering: -webkit-optimize-contrast;
}

.templatesImgSelected {
  width: 145px;
  height: 59px;
  image-rendering: -webkit-optimize-contrast;
}

.selectedIcon {
  position: relative;
  width: 26px;
  height: 26px;
  left: 62px;;
  top: -48px;
}

.selectedIconHidden {
  visibility: hidden;
}

.previewText {
  width: 80px;
  height: 22px;
  font-family: PingFangSC;
  font-size: 16px;
  color: #d0492c;
  margin-left: 5px;
}

.previewIcon {
  height: 10px;
}

.preview {
  height: 22px;
  display: flex;
  align-items: center;
}

.previewBlock {
  margin-top: 10px;
  height: 135px;
  margin-left: 17px;
  display: flex;
}

.leftContainer {
  height: 42px;
}

.backButton {
  display: inline-block;
  height: 42px;
  margin-left: 10px;
  border-right: 1px solid #ffffff;
  cursor: pointer;
}

.backIcon {
  width: 42px;
  vertical-align: middle;
}

.backText {
  color: #ffffff;
  font-size: 22px;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}

.launch {
  display: inline-block;
  background-color: #2a3a48;
  margin-left: 20px;
}

.launchText {
  margin: 0;
  vertical-align: middle;
  font-weight: normal;
}
