.notificationContainer {
  display: none;
  height: 50px;
  background-color: #f6a623;
  opacity: 0.8;
}

.notificationText{
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}
