$red: #f00;
.screen {
  position: absolute;
  top: 50px;
  left:100px;
  right:100px;
  bottom: 50px;
}
.transition {
  background: $red;
  height: 100px;
  transition: width 2s;
  width: 100px;

  &:hover {
    width: 200px;
  }

}
.screenlink{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
